{% extends "client/layout_client.html.twig" %}
{% block title %} Nous contacter{% endblock %}

{% block body %}
    <div class="container">
      <h1>Nous Contacter</h1>
        {{ form(form) }}
    </div>
{% endblock %}