{% extends "client/layout_client.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
            <table class="table" style="border: solid #8959A8 1px ">
                <div class="row align-self-right">
                    <div class="col-5 bg-light p-3">
                        <h3>Détails de mes Commandes</h3>
                    </div>
                </div>
                <caption>Récapitulatif de mes commandes</caption>
                <thead class="thead-dark">
                <tr>
                    <th>User</th>
                    <th>Etat du produit </th>
                    <th>Date </th>
                </tr>
                </thead>
                {% for commande in commandes %}
                    <tr style="border: solid #56a83e 2px ">
                        <td>
                            {{commande.user.username}}
                        </td>
                        <td>
                            {{commande.etat}}
                        </td>
                        <td>{{commande.date | date("d/m/Y")}}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}