{% extends 'client/layout_client.html.twig' %}

{% block title %}Modification de mon mot de passe{% endblock %}

{% block body %}
    <div class="grix xs4 container">
        {% for message in app.flashes("error")  %}
            <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                {{ message }}
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="col-xs4">
            <h1>Modification de mon mot de passe</h1>
            <form method="post">
                <div class="form-field">
                    <label for="pass">Mot de passe</label>
                    <input type="password" id="pass" name="pass" class="form-control">
                </div><br>
                <div class="form-field">
                    <label for="pass2">Confirmer le mot de passe</label>
                    <input type="password" id="pass2" name="pass2" class="form-control">
                </div><br>
                <button class="btn btn-success">Valider</button>

            </form>
        </div>

    </div>
{% endblock %}